<tr id="product_<%= product.id %>">
  <td><%= product.name %></td> 
  <td><%= product.description %></td> 
  <td><%= product.price %></td> 
  <td><%= product.discontined %></td> 
  <td><%= product.carrier.name %></td> 
  <td><%= link_to 'Show', product %></td>
  <td><%= link_to 'Edit', edit_product_path(product), remote: true, :class => 'btn btn-sm btn-info' %></td>
  <td><%= link_to 'Destroy', product, remote: true, method: :delete, data: { confirm: 'Are you sure?'} , :class=> 'btn btn-sm btn-danger' %></td>
</tr>