<p id="notice"><%= notice %></p>

<h2>产品列表</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      找到你想要的数据
    </a>
  </div>
  <div id="collapseOne" class="panel-collapse collapse ">
  <div class="panel-body">
    <%= search_form_for @q, :html=>{:class=>'form-horizontal'} do |f| %>

      <div class="form-group">
        <%= f.label :name_start, "产品名称", class:"col-sm-1 control-label" %>
        <div class="col-sm-5">
          <%= f.search_field :name_start, class:"form-control", placeholder: "输入首字符" %>
        </div>

        <%= f.label :description_cont, "产品描述", class:"col-sm-1 control-label" %>
        <div class="col-sm-5">
          <%= f.search_field :description_cont, class: "form-control", placeholder: "输入包含文字" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :carrier_name_cont, "运营厂商", class:"col-sm-1 control-label" %>
        <div class="col-sm-5">
          <%= f.search_field :carrier_name_cont, class: "form-control", placeholder:"输入包含文字" %>
        </div>
        <%= f.label :price_lt, "产品价格", class:"col-sm-1 control-label"  %>
        <div class="col-sm-5">
          <%= f.search_field :price_lt, class:"form-control", placeholder:"请输入小于金额数" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name_or_description_cont, "关 键 字", class:"col-sm-1 control-label" %>
        <div class="col-sm-11">
          <%= f.search_field :name_or_description_cont, class:"form-control", placeholder:"请输入产品描述的关键字" %>
        </div>
      </div>

          <%= button_tag(:type => 'submit', :class => 'btn btn-success btn-sm glyphicon glyphicon-search ') do %>
            查  询
          <% end %>

    <% end %>
  </div>
  </div>
</div>

<div class="well well-sm">
  <%= link_to "新建产品", new_product_path, remote: true, class: "btn btn-primary btn-sm" %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="col-sm-2">产品名称</th>
      <th class="col-sm-5">产品描述</th>
      <th class="col-sm-1">价格</th>
      <th class="col-sm-1">折扣</th>
      <th class="col-sm-1">运营商</th>
      <th class="col-sm-2" colspan="3"></th>
    </tr>
  </thead>

  <tbody id="products">
    <%= render @products %>
  </tbody>
</table>

<%= render 'dialog' %>
